*{
    margin:0;
    padding:0;
    box-sizing: border-box;;
}

#square-rosso{
    width: 500px;
    height: 500px;
    color: rgb(238, 60, 60);
}

#square-verde{
    width: 500px;
    height: 500px; 
    color: rgb(36, 141, 36);
}